# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env.admin
.env

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android

# local tool settings
.claude/settings.local.json

# OAuth docs
OAauth-docs/Clients/Android client - client_secret_9731935605-htm1ahojavpcjlssim7ieih3jeaatnv6.apps.googleusercontent.com.json
OAauth-docs/Clients/Android client.png
OAauth-docs/Clients/iOS client - client_9731935605-2hsh259h7an19o399totnerhp6ufv7ct.apps.googleusercontent.com.plist
OAauth-docs/Clients/iOS client.png
OAauth-docs/Clients/Web client - client_secret_9731935605-jtv027lpl262b1tu454t0ibror4cjier.apps.googleusercontent.com.json
OAauth-docs/Clients/Web client.png
resend/sending-permission.png
